node-red-worker2-data/.flows.json.backup
[
    {
        "id": "b89efe2b1fe909cb",
        "type": "tab",
        "label": "devMAIN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e089622.6a906a",
        "type": "tab",
        "label": "sand",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8929ff49bf2bbea4",
        "type": "tab",
        "label": "WORKER2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3eb02193332f12bf",
        "type": "group",
        "z": "b89efe2b1fe909cb",
        "name": "",
        "style": {
            "label": true,
            "fill": "#3f5787",
            "fill-opacity": "0.37"
        },
        "nodes": [
            "612afd6e7357c83c",
            "d91519a58a8c207d",
            "cb5d9749197b77cb",
            "49c2385c498a19b0",
            "7cd9eafcc8ebd4e1",
            "b82d786610a88e2a",
            "5b7bb9d6beb5e5a8"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "44cf135596e2716e",
        "type": "group",
        "z": "8929ff49bf2bbea4",
        "style": {
            "stroke": "#2e333a",
            "stroke-opacity": "1",
            "fill": "#383c45",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "841dbfe6777b1e36",
            "2c2113e3d7c3305b",
            "d3e0688d41cc172c",
            "579577e08c6abb4c"
        ],
        "x": 994,
        "y": 19,
        "w": 472,
        "h": 122
    },
    {
        "id": "f120eab2.0a60a8",
        "type": "redis-config",
        "name": "redis:6379",
        "options": "redis://:YzRAdGgkFg@redis:6379",
        "cluster": false,
        "optionsType": "str"
    },
    {
        "id": "acbee441.8c1e1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7eefe30b.94c464",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "261e447.e94ad3c",
        "type": "ui_group",
        "name": "work mode",
        "tab": "acbee441.8c1e1",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "f244fee6.d2627",
        "type": "ui_group",
        "name": "duration ",
        "tab": "acbee441.8c1e1",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "30996d79e1bf9955",
        "type": "memory-queue",
        "name": "qu-main",
        "size": "5",
        "discard": true
    },
    {
        "id": "b0cef4ea50b252b0",
        "type": "memory-queue",
        "name": "qu-ttp",
        "size": "5",
        "discard": true
    },
    {
        "id": "a504dfae3584b3f9",
        "type": "memory-queue",
        "name": "qu-candle",
        "size": "100",
        "discard": false
    },
    {
        "id": "612afd6e7357c83c",
        "type": "inject",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "name": " stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "d91519a58a8c207d"
            ]
        ]
    },
    {
        "id": "d91519a58a8c207d",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "stop",
        "obj": false,
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb5d9749197b77cb",
        "type": "inject",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "49c2385c498a19b0"
            ]
        ]
    },
    {
        "id": "49c2385c498a19b0",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "start",
        "obj": false,
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "7cd9eafcc8ebd4e1",
        "type": "inject",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "name": "start1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "b82d786610a88e2a"
            ]
        ]
    },
    {
        "id": "b82d786610a88e2a",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "start1",
        "obj": false,
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "5b7bb9d6beb5e5a8",
        "type": "redis-instance",
        "z": "b89efe2b1fe909cb",
        "g": "3eb02193332f12bf",
        "server": "f120eab2.0a60a8",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "df8949bac971e658",
        "type": "inject",
        "z": "b89efe2b1fe909cb",
        "name": "start onLoad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "dc2aeff7a359f934"
            ]
        ]
    },
    {
        "id": "dc2aeff7a359f934",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "push ex2",
        "func": "let name = \"ex2\"; \nmsg.topic = \"resurse-que\";\nmsg.payload = [\"push\",name];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "c1b1c62e6b0f4e2a"
            ]
        ]
    },
    {
        "id": "c1b1c62e6b0f4e2a",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "resurse-que",
        "obj": true,
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "5f4515f84461838f",
        "type": "redis-in",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "subscribe",
        "name": "",
        "topic": "resurse:ex2",
        "obj": true,
        "timeout": 0,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "f8727ffca66ea75d",
                "4cad8a91d8c67247"
            ]
        ]
    },
    {
        "id": "a36d19b4ca26282e",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "push to resurse-list",
        "func": "let name = \"ex2\";\nmsg.topic = \"resurse-que\";\nmsg.payload = [\"push\", name];\n\n\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 620,
        "wires": [
            [
                "32a0c5684062bd5e"
            ]
        ]
    },
    {
        "id": "32a0c5684062bd5e",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "resurse-que",
        "obj": true,
        "x": 1550,
        "y": 620,
        "wires": []
    },
    {
        "id": "f8727ffca66ea75d",
        "type": "debug",
        "z": "b89efe2b1fe909cb",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 720,
        "wires": []
    },
    {
        "id": "4cad8a91d8c67247",
        "type": "switch",
        "z": "b89efe2b1fe909cb",
        "name": "",
        "property": "payload.worktype",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ma-calc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "floor-check",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "floor-service",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "panic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ttp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "249e06dd23a909e4"
            ],
            [
                "ea1deeac81becf59"
            ],
            [],
            [],
            [],
            [
                "3e7fed7b4c9ead23"
            ]
        ]
    },
    {
        "id": "3e7fed7b4c9ead23",
        "type": "debug",
        "z": "b89efe2b1fe909cb",
        "name": "command type error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "e29c0f3cf3dd0ebe",
        "type": "comment",
        "z": "b89efe2b1fe909cb",
        "name": "расчет МА",
        "info": "",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "249e06dd23a909e4",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "load data",
        "func": "msg.bot = msg.payload.bot;\nmsg.trackname = msg.payload.trackname;\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 620,
        "wires": [
            [
                "9c5c9326b995a656"
            ]
        ]
    },
    {
        "id": "9c5c9326b995a656",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "get candlestick",
        "func": "function parseApiError(error) {\n  if (error.body) {\n    try {\n      var resp = JSON.parse(error.body);\n      return resp.msg;\n    } catch (error) {/* pass thru */ }\n  }\n  return \"Unknown error. Status code: \" + error.statsCode;\n}\n\nlet LBinance = global.get('gBinance');\nlet key = global.get('key');\nlet secret = global.get('secret');\n\nlet binance = new LBinance().options({\n  APIKEY: key,\n  APISECRET: secret,\n  \"reconnect\": false\n});\n\nlet moneta = msg.bot.settings.moneta;\nlet deep = Number(msg.bot.settings.ma2);\n\nbinance.useServerTime(function () {\n  binance.candlesticks(moneta, \"1m\", (error, ticks, symbol) => {\n\n    if (error) {\n      var errorMsg = parseApiError(error) + \", moneta:\" + moneta;\n      node.error(errorMsg, msg);\n\n      msg.err = error;\n      node.status({ fill: \"red\", shape: \"dot\", text: errorMsg });\n\n      node.send(msg);\n\n    }\n\n    msg.payload = ticks;\n    node.status({ fill: \"green\", shape: \"dot\" });\n    node.send(msg);\n\n  }, { limit: deep });\n\n});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "gBinance",
                "module": "node-binance-api"
            }
        ],
        "x": 800,
        "y": 620,
        "wires": [
            [
                "676af55402f85391"
            ]
        ],
        "inputLabels": [
            "orderid, moneta"
        ],
        "outputLabels": [
            "status"
        ],
        "icon": "font-awesome/fa-compress"
    },
    {
        "id": "d39b03215a7cf48e",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "расчет MA",
        "func": "\n\nlet candles = msg.payload;\n\n\nlet heiken = candles.map(function(tick){\n  //  node.warn(tick);\n    \n    \n    return (Number(tick[1]) + Number(tick[2]) + Number(tick[3]) + Number(tick[4]))/4;\n});\n\n\n//node.warn(heiken);\nmsg.heiken = heiken;\n\n\nlet heiken_small = heiken.slice(-msg.bot.settings.ma1);\n\n//node.warn(heiken_small);\nlet sum_all = heiken.reduce(function(sum, current) {\n  return sum + current\n});\n\nlet sum_small = heiken_small.reduce(function(sum, current) {\n  return sum + current\n});\n\nmsg.bot.status.sr_ma_big = sum_all / msg.bot.settings.ma2;\nmsg.bot.status.sr_ma_small = sum_small / msg.bot.settings.ma1;\n\n\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "96bbc31b29fa17d7"
            ]
        ]
    },
    {
        "id": "676af55402f85391",
        "type": "switch",
        "z": "b89efe2b1fe909cb",
        "name": "try second if null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "d39b03215a7cf48e"
            ],
            [
                "9c5c9326b995a656"
            ]
        ]
    },
    {
        "id": "104dfba8ec2703aa",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "tasque-result:ma",
        "obj": true,
        "x": 1570,
        "y": 560,
        "wires": []
    },
    {
        "id": "96bbc31b29fa17d7",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "prepare data",
        "func": "msg={\n    payload: msg.bot\n}\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 560,
        "wires": [
            [
                "104dfba8ec2703aa",
                "a36d19b4ca26282e"
            ]
        ]
    },
    {
        "id": "20b1fdb2fa2c4e35",
        "type": "link out",
        "z": "b89efe2b1fe909cb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "179defa09285937f"
        ],
        "x": 665,
        "y": 700,
        "wires": []
    },
    {
        "id": "1d766dd58476c9ba",
        "type": "comment",
        "z": "b89efe2b1fe909cb",
        "name": "floor-check",
        "info": "",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "e0ebb67a278ae640",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "push to resurse-list",
        "func": "let name = \"ex2\";\nmsg.topic = \"resurse-que\";\nmsg.payload = [\"push\", name];\n\n\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 700,
        "wires": [
            [
                "a28553269f3e7641"
            ]
        ]
    },
    {
        "id": "a28553269f3e7641",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "resurse-que",
        "obj": true,
        "x": 1650,
        "y": 700,
        "wires": []
    },
    {
        "id": "a49c8078d775fef7",
        "type": "redis-out",
        "z": "b89efe2b1fe909cb",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "tasque-result:floor-check",
        "obj": true,
        "x": 1250,
        "y": 760,
        "wires": []
    },
    {
        "id": "878ed2c7489c2f0c",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "prepare data",
        "func": "msg = {\n    payload: {\n        bot: msg.bot,\n        trackname: msg.trackname\n    }\n}\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "a49c8078d775fef7",
                "178f322672390fde"
            ]
        ]
    },
    {
        "id": "f731605f015253a0",
        "type": "link in",
        "z": "b89efe2b1fe909cb",
        "name": "link in 2",
        "links": [
            "a2375dc0e61e0bfc"
        ],
        "x": 895,
        "y": 700,
        "wires": [
            [
                "e0ebb67a278ae640",
                "878ed2c7489c2f0c"
            ]
        ]
    },
    {
        "id": "178f322672390fde",
        "type": "debug",
        "z": "b89efe2b1fe909cb",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 840,
        "wires": []
    },
    {
        "id": "ea1deeac81becf59",
        "type": "function",
        "z": "b89efe2b1fe909cb",
        "name": "load data",
        "func": "msg.bot = msg.payload.bot;\nmsg.trackname = msg.payload.trackname;\nnode.status({ fill: \"green\", shape: \"dot\" });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "20b1fdb2fa2c4e35"
            ]
        ]
    },
    {
        "id": "668b60dcda4a811a",
        "type": "http in",
        "z": "e089622.6a906a",
        "name": "",
        "url": "/testestaff",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "873f0c5ee706ab49",
                "80fd42ef5314a37f"
            ]
        ]
    },
    {
        "id": "80fd42ef5314a37f",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1470,
        "y": 520,
        "wires": []
    },
    {
        "id": "873f0c5ee706ab49",
        "type": "http response",
        "z": "e089622.6a906a",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1480,
        "y": 480,
        "wires": []
    },
    {
        "id": "56f2c76df4df787a",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sds",
        "payload": "dfdfdffd",
        "payloadType": "str",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "2848333b867cb555"
            ]
        ]
    },
    {
        "id": "1283c96936ce87a1",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2848333b867cb555",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "f9ec7a29.852b18",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "",
        "payloadType": "date",
        "x": 1320,
        "y": 640,
        "wires": [
            [
                "8e6485b.fc3ce78"
            ]
        ]
    },
    {
        "id": "ccb84c90.3f15e",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1550,
        "y": 680,
        "wires": []
    },
    {
        "id": "8e6485b.fc3ce78",
        "type": "function",
        "z": "e089622.6a906a",
        "name": "Status gated queue",
        "func": "\nvar MAX_DEPTH = 10;\n\n// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.pass = context.pass || false;\n\n// Use MQTT connected status to gate flow\nif (msg.hasOwnProperty(\"status\")) {\n    if (msg.status.text.indexOf(\".connected\") !== -1) { \n        setTimeout(function() { \n            while (context.queue.length > 0) {\n                var m = context.queue.shift();\n                node.send(m); \n            }\n            context.pass = true; \n            node.status({});\n        },5);\n    }\n    else { context.pass = false; }\n}\nelse {\n    if (context.pass) { return msg; }\n    else { \n        context.queue.push(msg); \n        if (context.queue.length > MAX_DEPTH) { context.queue.shift(); }\n        node.status({text:context.queue.length});\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 640,
        "wires": [
            [
                "ccb84c90.3f15e"
            ]
        ]
    },
    {
        "id": "147525f9.9ff5ba",
        "type": "status",
        "z": "e089622.6a906a",
        "name": "",
        "scope": [
            "d25c0e58.e75d7"
        ],
        "x": 1320,
        "y": 680,
        "wires": [
            [
                "8e6485b.fc3ce78"
            ]
        ]
    },
    {
        "id": "9687d976688c771c",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 740,
        "wires": []
    },
    {
        "id": "2ef865308c67f190",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 780,
        "wires": []
    },
    {
        "id": "cbe5dbacf68cdcdf",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2100,
        "y": 640,
        "wires": []
    },
    {
        "id": "f125afd0fa0c62da",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 1100,
        "wires": [
            [
                "ec9ea2de25ebbffb"
            ]
        ]
    },
    {
        "id": "ec9ea2de25ebbffb",
        "type": "redis-out",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "rpush",
        "name": "mainqu",
        "topic": "mainqu",
        "obj": true,
        "x": 860,
        "y": 1100,
        "wires": []
    },
    {
        "id": "417afb5d02255b05",
        "type": "redis-in",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "blpop",
        "name": "mainqu-c1",
        "topic": "mainqu",
        "obj": true,
        "timeout": "100",
        "x": 1120,
        "y": 1040,
        "wires": [
            [
                "1283c96936ce87a1"
            ]
        ]
    },
    {
        "id": "773d2fbeeece3470",
        "type": "redis-in",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "brpop",
        "name": "mainqu-c2",
        "topic": "mainqu",
        "obj": true,
        "timeout": "100",
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "4a36f330d291dcf3"
            ]
        ]
    },
    {
        "id": "4a36f330d291dcf3",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5bb746c1ce0d3c24",
        "type": "memqueue in",
        "z": "e089622.6a906a",
        "name": "",
        "queue": "30996d79e1bf9955",
        "x": 1240,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f507d5de320dbcae",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "PUBLISH",
        "name": "",
        "topic": "mainqu",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "31f1fcb.a6a4a04",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 1740,
        "wires": []
    },
    {
        "id": "80d063ee.78deb8",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 1740,
        "wires": [
            [
                "4cb7b20e.778d34"
            ]
        ]
    },
    {
        "id": "4cb7b20e.778d34",
        "type": "redis-out",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "rpush",
        "name": "",
        "topic": "test",
        "obj": false,
        "x": 870,
        "y": 1700,
        "wires": []
    },
    {
        "id": "902b8385.2fdd9",
        "type": "redis-in",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "blpop",
        "name": "",
        "topic": "test",
        "obj": false,
        "timeout": 0,
        "x": 870,
        "y": 1740,
        "wires": [
            [
                "31f1fcb.a6a4a04"
            ]
        ]
    },
    {
        "id": "6373a8a4.82bad",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "x": 590,
        "y": 1700,
        "wires": [
            [
                "4cb7b20e.778d34"
            ]
        ]
    },
    {
        "id": "ba433622.8c6178",
        "type": "catch",
        "z": "e089622.6a906a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 880,
        "y": 1640,
        "wires": [
            [
                "ec2978af.3e0458"
            ]
        ]
    },
    {
        "id": "ec2978af.3e0458",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 1640,
        "wires": []
    },
    {
        "id": "eccd31de.55e3a",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "set",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 800,
        "y": 1860,
        "wires": [
            [
                "6ac31b1f.b393c4"
            ]
        ]
    },
    {
        "id": "46f5d0c0.8a7198",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"key\",\"value\"]",
        "payloadType": "json",
        "x": 590,
        "y": 1860,
        "wires": [
            [
                "eccd31de.55e3a"
            ]
        ]
    },
    {
        "id": "6ac31b1f.b393c4",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 1860,
        "wires": []
    },
    {
        "id": "9f960d71.749988",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "getset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 1920,
        "wires": [
            [
                "7cef7ea5.dba3b"
            ]
        ]
    },
    {
        "id": "f16ad786.8b294",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key",
        "payload": "[\"value\"]",
        "payloadType": "json",
        "x": 590,
        "y": 1920,
        "wires": [
            [
                "9f960d71.749988"
            ]
        ]
    },
    {
        "id": "7cef7ea5.dba3b",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 1920,
        "wires": []
    },
    {
        "id": "7e45a50c.240f7c",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "hmset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 2040,
        "wires": [
            [
                "122ff416.a56b8c"
            ]
        ]
    },
    {
        "id": "488a7f5b.a40628",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "myHash",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "x": 610,
        "y": 2040,
        "wires": [
            [
                "7e45a50c.240f7c"
            ]
        ]
    },
    {
        "id": "122ff416.a56b8c",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 2040,
        "wires": []
    },
    {
        "id": "aff97bc7.84a578",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 570,
        "y": 2100,
        "wires": [
            [
                "1676f695.aa7189"
            ]
        ]
    },
    {
        "id": "2f4295b5.f78d42",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 2100,
        "wires": []
    },
    {
        "id": "1676f695.aa7189",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "hgetall",
        "name": "",
        "topic": "myHash",
        "params": "{}",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 840,
        "y": 2100,
        "wires": [
            [
                "2f4295b5.f78d42"
            ]
        ]
    },
    {
        "id": "66098945.141118",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 570,
        "y": 2160,
        "wires": [
            [
                "e42d2b3b.6bb"
            ]
        ]
    },
    {
        "id": "e23fbe8.d7505c",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 2160,
        "wires": []
    },
    {
        "id": "e42d2b3b.6bb",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "sadd",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberA\",\"memberB\",\"memberC\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 830,
        "y": 2160,
        "wires": [
            [
                "e23fbe8.d7505c"
            ]
        ]
    },
    {
        "id": "2163c482.b8a244",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "get",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 800,
        "y": 1980,
        "wires": [
            [
                "d2ea99d4.a4c51"
            ]
        ]
    },
    {
        "id": "b5f040ea.800be8",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 1980,
        "wires": [
            [
                "2163c482.b8a244"
            ]
        ]
    },
    {
        "id": "d2ea99d4.a4c51",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 1980,
        "wires": []
    },
    {
        "id": "15f62858.26419",
        "type": "redis-lua-script",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "name": "test",
        "keyval": 0,
        "func": "local text = \"Hello World\"\nreturn text",
        "stored": true,
        "block": false,
        "x": 790,
        "y": 2280,
        "wires": [
            [
                "4a40fc2d.b70e2c"
            ]
        ]
    },
    {
        "id": "4f1fc69d.539ee",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 2280,
        "wires": [
            [
                "15f62858.26419"
            ]
        ]
    },
    {
        "id": "4a40fc2d.b70e2c",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 2280,
        "wires": []
    },
    {
        "id": "6ebb1fdf.2fce",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 570,
        "y": 2220,
        "wires": [
            [
                "5a3d77f4.920fd8"
            ]
        ]
    },
    {
        "id": "bac6944e.4e07",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 2220,
        "wires": []
    },
    {
        "id": "5a3d77f4.920fd8",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "sismember",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberA\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 850,
        "y": 2220,
        "wires": [
            [
                "bac6944e.4e07"
            ]
        ]
    },
    {
        "id": "c1c3a5a6.c289f",
        "type": "redis-lua-script",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "name": "test2",
        "keyval": 0,
        "func": "local text = \"Hello2222 World2222\"\nreturn text",
        "stored": false,
        "block": false,
        "x": 790,
        "y": 2340,
        "wires": [
            [
                "d8bd4107.683c08"
            ]
        ]
    },
    {
        "id": "9013d649.88c35",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 2340,
        "wires": [
            [
                "c1c3a5a6.c289f"
            ]
        ]
    },
    {
        "id": "d8bd4107.683c08",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 2340,
        "wires": []
    },
    {
        "id": "cb44db96.c64bb8",
        "type": "redis-in",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "psubscribe",
        "name": "",
        "topic": "TOPIC:*",
        "obj": false,
        "timeout": 0,
        "x": 880,
        "y": 1520,
        "wires": [
            [
                "78033f6c.31797"
            ]
        ]
    },
    {
        "id": "78033f6c.31797",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 1520,
        "wires": []
    },
    {
        "id": "dac5fcff.4c4cb",
        "type": "redis-in",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "subscribe",
        "name": "",
        "topic": "TOPIC:OK",
        "obj": false,
        "timeout": 0,
        "x": 880,
        "y": 1580,
        "wires": [
            [
                "6f01eb54.501e7c"
            ]
        ]
    },
    {
        "id": "6f01eb54.501e7c",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e0d2924b.210708",
        "type": "redis-out",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "TOPIC:OK",
        "obj": false,
        "x": 610,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d1fc59dc.bd4958",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "x": 590,
        "y": 1540,
        "wires": [
            [
                "e0d2924b.210708"
            ]
        ]
    },
    {
        "id": "3e05b777.781bd8",
        "type": "redis-command",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "command": "del",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 800,
        "y": 2400,
        "wires": [
            [
                "fd036d2b.dc6d38"
            ]
        ]
    },
    {
        "id": "6924006.91553",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 2400,
        "wires": [
            [
                "3e05b777.781bd8"
            ]
        ]
    },
    {
        "id": "fd036d2b.dc6d38",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 2400,
        "wires": []
    },
    {
        "id": "a13d2797.8a7ff",
        "type": "redis-instance",
        "z": "e089622.6a906a",
        "server": "f120eab2.0a60a8",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 1450,
        "y": 2340,
        "wires": []
    },
    {
        "id": "2a93e7ce.341078",
        "type": "inject",
        "z": "e089622.6a906a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 2500,
        "wires": [
            [
                "d89709ef.fd9368"
            ]
        ]
    },
    {
        "id": "d89709ef.fd9368",
        "type": "function",
        "z": "e089622.6a906a",
        "name": "",
        "func": "let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2500,
        "wires": [
            [
                "f2e9c3a0.8f181"
            ]
        ]
    },
    {
        "id": "f2e9c3a0.8f181",
        "type": "debug",
        "z": "e089622.6a906a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 2500,
        "wires": []
    },
    {
        "id": "93777a4c21926766",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "name": "start onLoad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "24edc88413df93b5"
            ]
        ]
    },
    {
        "id": "24edc88413df93b5",
        "type": "function",
        "z": "8929ff49bf2bbea4",
        "name": "worker_name = \"ex2\"",
        "func": "\nlet worker_name = \"ex2\"; \nglobal.set('worker_name', worker_name);\nmsg.topic = \"workers:regist\";\nmsg.payload = {\n    worker_name: worker_name,\n    status : \"free\",\n    }\n    \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "b633c1ad8469e84d"
            ]
        ]
    },
    {
        "id": "b633c1ad8469e84d",
        "type": "redis-out",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "rpush",
        "name": "",
        "topic": "workers:regist",
        "obj": true,
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "116d7ae981c3616c",
        "type": "debug",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "deb77a9b0d57ff6d",
        "type": "redis-command",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "BLPOP",
        "name": "",
        "topic": "workers:regist",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "116d7ae981c3616c"
            ]
        ]
    },
    {
        "id": "21095a48a3219173",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 920,
        "y": 220,
        "wires": [
            [
                "deb77a9b0d57ff6d"
            ]
        ]
    },
    {
        "id": "873d7415be270745",
        "type": "debug",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "93854d7e7b6baae6",
        "type": "redis-command",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "BRPOP",
        "name": "",
        "topic": "workers",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "873d7415be270745"
            ]
        ]
    },
    {
        "id": "617a80d8aeda7485",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "93854d7e7b6baae6"
            ]
        ]
    },
    {
        "id": "1b96aac6bf557001",
        "type": "redis-in",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "subscribe",
        "name": "",
        "topic": "workers:heartbeat:ex2",
        "obj": true,
        "timeout": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "9aa618e516cc5a90",
                "260392ec470dfdb0"
            ]
        ]
    },
    {
        "id": "3cf21f0195b3bccf",
        "type": "debug",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4a3e3043cf0d948",
        "type": "redis-out",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "workertest:ex2",
        "obj": true,
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "9dfa2a39a8d8081e",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 850,
        "y": 540,
        "wires": [
            [
                "f4a3e3043cf0d948"
            ]
        ]
    },
    {
        "id": "1b4f7ff11cabc4ba",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "name": "start onLoad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "f9ff2da4868bdda0"
            ]
        ]
    },
    {
        "id": "f9ff2da4868bdda0",
        "type": "function",
        "z": "8929ff49bf2bbea4",
        "name": "heartbeat",
        "func": "\nlet worker_name = global.get(\"worker_name\");\n\nmsg.topic = \"workers:heartbeat:\" + worker_name;\nmsg.payload = {\n    worker_name: worker_name,\n    healthbeat : \"ok\",\n    }\n    \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "0147ae97caf68acf"
            ]
        ]
    },
    {
        "id": "0147ae97caf68acf",
        "type": "redis-out",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "workers:heartbeat",
        "topic": "",
        "obj": true,
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "9aa618e516cc5a90",
        "type": "trigger",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "op1": "",
        "op2": "5 sec timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5000",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "3cf21f0195b3bccf",
                "b8dd96d5d9b54edd"
            ]
        ]
    },
    {
        "id": "260392ec470dfdb0",
        "type": "debug",
        "z": "8929ff49bf2bbea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "841dbfe6777b1e36",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "g": "44cf135596e2716e",
        "name": "0.015",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "payloadType": "date",
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "2c2113e3d7c3305b"
            ]
        ]
    },
    {
        "id": "2c2113e3d7c3305b",
        "type": "function",
        "z": "8929ff49bf2bbea4",
        "g": "44cf135596e2716e",
        "name": "global.set(\"commision\", 0.075)",
        "func": "global.set(\"commision\", 0.075);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e0688d41cc172c",
        "type": "function",
        "z": "8929ff49bf2bbea4",
        "g": "44cf135596e2716e",
        "name": "get env",
        "func": "let guid = env.get(\"GOOGLEUID\");\nglobal.set(\"guid\", guid);\n\n//let botlistname = guid + \"-botlist\";\n//global.set(botlistname, []);\n\nlet key = env.get(\"BINANCEKEY\");\nlet secret = env.get(\"BINANCESECRET\");\nglobal.set(\"key\", key);\nglobal.set(\"secret\", secret);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "579577e08c6abb4c",
        "type": "inject",
        "z": "8929ff49bf2bbea4",
        "g": "44cf135596e2716e",
        "name": "onLoad",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "payloadType": "date",
        "x": 1100,
        "y": 60,
        "wires": [
            [
                "d3e0688d41cc172c"
            ]
        ]
    },
    {
        "id": "642ebd6d0bd5aa4a",
        "type": "redis-out",
        "z": "8929ff49bf2bbea4",
        "server": "f120eab2.0a60a8",
        "command": "publish",
        "name": "",
        "topic": "tgpost",
        "obj": true,
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "b8dd96d5d9b54edd",
        "type": "function",
        "z": "8929ff49bf2bbea4",
        "name": "timeout 5 ",
        "func": "let tgmsg = \"timeout 5 sec worker_ex2\";\n\nlet guid = global.get('guid');\nmsg = {};\nmsg.payload = {tgmsg, guid};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "642ebd6d0bd5aa4a"
            ]
        ]
    }
]